/* =========TODAS AS TAGS========= */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 15px;
}

/* ~~~~ESTILO BARRA DE NAVEGACAO~~~~~~ */
nav {
    background-color: white;
}
.Nav-bar{
    padding: 10px 5px;
}
.nav-links {
    margin: 10px 5px;
}
nav .last {
    margin: 0 5% 0 0;
}
.nav-links > a {
    padding: 15px 5px;
    text-decoration: none;
    color: black;
}
.nav-links > a:hover {
    color: orangered;
    border-bottom: solid orangered 2px;
    border-top: solid orangered 2px;
}
.nav-brand {
    margin-left: 6%;
    font-weight: 900;
    font-size: 30px;    
    flex: 1;
}
.nav-brand > a {
    text-decoration: none;
    color: darkviolet;

}
.nav-brand > a:hover {
    color: darkviolet;
    text-decoration: underline solid darkviolet 2px;
}
/* =======FIM BARRA NAVEGACAO======== */



/* ~~~~~~~ESTILO HELLO~~~~~~~~ */
.sessao-hello {
    background-color: ghostwhite;
}
.sessao-hello .container > .row{
    padding: 10px;
    margin: 15px 0px;
}
.text-hello {
    text-align: left;
    font-family: sans-serif;
}
.sessao-hello .bloco {
    height: 100%;
    margin: 30px 0px 20px 0px;
    padding: 0px;
}
.sessao-hello .bloco2 {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    border-right: 2px solid grey;
    margin-bottom: 10px;
}
.sessao-hello .bloco3 {
    height: 60%;
    margin-top: 100px;
    padding: 0px 0px 0px 40px;
}
.sessao-hello .bloco-button {
    width: fit-content;
    height: fit-content;
}
/* ===========FIM HELLO============ */


/* ~~~~~~~~~ESTILO WHO AM I~~~~~~~~~~ */
.sessao-whoami {
font-family: arial; 
background-color: white;
padding: 30px;
}

.sessao-whoami .bloco{
width: fit-content;
height: 100%;
margin-top:10px; 
padding-right: 0px;
margin-bottom: 10px;
margin: 0px;
}

.sessao-whoami .bloco2{
width: fit-content;
height: fit-content;
margin-top:10px;
padding-right: 0px;
margin-bottom: 10px;
margin: 0px;
}
.bt {
padding: 3px 3px;}
/* ==========FIM WHO AM I ========== */


/*~~~~~~~~~ESTILO WHAT CAN I DO~~~~~~~ */
.sessao-what {
    background-color: ghostwhite;
    padding: 30px 12%;
}
.sessao-what .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-what p {
    padding: 0 5%;
}
.sessao-what .container > .row{
    padding: 0px;
    margin: 0px 0px;
}
 .sessao-what .col {
    margin: 5px;
}
.bloco-what {
    background-color: white;
    margin: 5px;
    /* height: 100%; */
    padding: 15px;
    flex: 1;
    border-left: 5px solid transparent;
}
.bloco-what:hover {
    border-left: 5px solid orangered;
}
.what-icon {
    width: 90px;
    padding-left: 10px;
}
.sessao-what .bloco-what > h6 {
    padding: 12px 0px 8px 12px;
    text-align: left;
    margin-bottom: 0px;
}
.bloco-what > p {
    font-size: 12px;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 10px;
}
/* ===========FIM WHAT CAN I DO======= */


/* ~~~~~~~~ESTILO MEU RESUMO~~~~~~~~~~~ */
.sessao-resumo {
    background-color: white;
    padding: 50px 15%;
}
.sessao-resumo .container .row .row {
    text-align: left;
}
.sessao-resumo .bloco {
    height: 100%;
    border-left: 3px dotted grey;
    margin: 20px 0 30px 0;
    /* background-color: green; */
}
.sessao-resumo .coluna {
    /* background-color: white; */
    height: 100%;
}
.sessao-resumo .titulo-col {
    font-size: 23px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0;
    margin: 20px 0 0 0;
    border-bottom: 4px solid orangered;
    width: 100px;
}
.sessao-resumo h5 {
    display: inline;
    background-color: orangered;
    color: white;
    padding: 5px 30px 5px 15px;
}
.sessao-resumo .descricao1 {
    font-weight: 600;
    padding: 20px 0 0 0;
}
.sessao-resumo .descricao2 {
    font-weight: 400;
    padding: 0 0 20px 0;
}
.sessao-resumo .conteudo {
    color: grey;
    font-size: medium;
    margin: 0 0 15px 0;
}
.sessao-resumo .item {
    height: 100%;
    /* background-color: paleturquoise; */
    padding: 10px 10px 10px 5px;
    margin: 10px;
}
/* =============FIM MEU RESUMO============== */


/* ~~~~~ESTILO PORTFOLIO~~~~~~~~*/
.sessao-portfolio {
    background-color: ghostwhite;
    padding: 30px 12%;
}
.sessao-portfolio .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-portfolio p {
    padding: 0 5%;
}
.sessao-portfolio .container > .row{
    padding: 0px;
    margin: 0px 0px;
}
.sessao-portfolio .bloco {
    /* width: fit-content;
    height: fit-content;
    margin: 0px 0px 0px 10px; */
    padding: 5px;
}
/* =========FIM PORTFOLIO=======*/


<<<<<<< HEAD
=======
/*~~~~~ESTILO TESTIMONIAL~~~~~~*/
.sessao-testimonial {
    background-color: white;
    padding: 30px 12%;
}
.sessao-testimonial .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-testimonial p {
    padding: 0 5%;
}
 .sessao-testimonial .container > .row{
    padding: 10px;
    margin: 10px;
}
.sessao-testimonial .bloco {
    background-color: white;
    box-shadow: 0 -1px 10px rgb(165, 165, 165);
    height: 100%;
}
.sessao-testimonial .bloco > h5 {
    font-size: 20px;
}
.testimonial-icon {
    width: 120px;
    margin: 20px 10px 10px 10px;
    padding: 15px;
    border-radius: 50% 50%;
}
/*=====FIM TESTIMONIAL============*/


>>>>>>> 292b0f39b7b8408f7517ff5cf0ed272930c19a4f
/*~~~~~ESTILO TEAM~~~~~~~~~~~~ */
.sessao-team {
    background-color: ghostwhite;
    padding: 30px 12%;
}
.sessao-team .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-team p {
    padding: 0 5%;
}
.sessao-team .bloco {
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 0px 10px;
}
/* ==========FIM TEAM============ */


/*~~~~~~ESTILO NEWS~~~~~~~~~~ */
.sessao-news {
    background-color: white;
    padding: 30px 12%;
}
.sessao-news .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-news p {
    padding: 0 5%;
}
.sessao-news .bloco {
    background-color: white;
    box-shadow: 0px 3px 0px rgb(165 165 165);
    height: 100%;
    margin-left: 10px;
    width: fit-content;
}
.sessao-news .bloco2 {
    background-color: orangered;
    height: 10%;
    width: 15%;
    margin: 0px 0px 0px 10px;
    position: relative;
    z-index: 100;
}
.sessao-news .square_img {
    max-height:70%;
    max-width:100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    position: relative;
    z-index: auto;
}
div.image{
    content: url(./Imagens/blog/1.jpg);
    max-height:70%;
    max-width:100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    position: relative;
    z-index: auto;
}
.sessao-news .bloco > h6 {
    padding: 12px 0px 8px 12px;
    text-align: left;
    margin-bottom: 0px;
}
.sessao-news .bloco > p {
    font-size: 12px;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 10px;
}
/*=========FIM NEWS==============*/


/* ~~~~~ESTILO CONTATO~~~~~~~~ */
.sessao-contato {
    background-color: rgb(246, 246, 252);
    padding: 30px 0;
}
.sessao-contato .titulo {
    margin: 3px;
    padding: 3px;
}
.sessao-contato p {
    padding: 0 10%;
}
 .sessao-contato .container > .row{
    padding: 10px;
    margin: 10px;
}

.sessao-contato .bloco {
    background-color: white;
    box-shadow: 0 -1px 10px rgb(209, 209, 209);
    height: 100%;
    margin-left: 10px;
    padding: 15px;
}
.sessao-contato .bloco > h5 {
    font-size: 25px;
    margin-bottom: 40px;
}
.contact-icon {
    width: 80px;
    margin: 20px 10px 10px 10px;
    padding: 15px;
    border: dotted orangered 3px;
    border-radius: 50% 50%;
}
.sessao-contato .form-bloco {
    padding: 10px ;
}
.sessao-contato .btn-purple {
    font-family: monospace;
    font-size: large;
    font-weight: 500;
    color: white;
    background-color: blueviolet;
}
.sessao-contato .btn-purple:hover{
    color: white;
    font-weight: 600;
}
/* =======FIM CONTATO======== */


/* ~~~ESTILO FOOTER~~~~ */
footer {
    background-color: rgb(216, 216, 216);
    font-size: 13px;
    font-weight: 300;
    padding: 20px 0;
}
/* ~~~~~~~FIM FOOTER~~~~~~ */


/* ######## CLASSE GERAL ######### */
.square_img{
    max-height:100%;
    max-width:100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.round_img {
    
    width: 320px;
    margin: 20px 10px 10px 10px;
    padding: 15px;
    border-radius: 50% 50%;
}

.ariel {
    font-family: ariel;
    text-align: center;
}

.red       {background-color: salmon;}
.green     {background-color: lightgreen;}
.blue      {background-color: lightseagreen;}
.orange    {color: orange;}
.grey      {color: grey;}
.lightgray {color: lightgray;}
.black     {color: black;}

.separador-linha {
    margin: 15px 10px;
    height: 3px; 
    width: 70px;
    background-color: rgb(0, 0, 0);
}
.separador-bola {
    margin: 10px 0 20px 0;
    height: 12px;
    width:  12px;
    background-color: orangered;
    border-radius: 50% 50% ;
}
.linha-orande {
    margin: 15px 10px;
    height: 3px; 
    width: 70px;
    background-color: orangered;
}
